.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.header-title {
  margin: 0;
  justify-self: center;
}

.header-links {
  order: -1;
  justify-self: flex-start;
}